.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
}

.goomba {
    width: 100px;
    z-index: 2;
    position: absolute;
    top: 340px;
    margin-left: 110px;

  }
  
  .baloon {
    position: absolute;
    margin-left: 300px;
    z-index: 3;
    
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    margin-left: 320px;
    top: 120px;

  }
  
  .bowser {
    width: 200px;
    margin-left: 600px;
    position: absolute;
    top: 250px;

  }