h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
    text-decoration: underline;
}
ul {
    text-align: center;
    line-height: 50px;
}

.tag {
    background-color: green;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}

body {
    font-size: 16px;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}